*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

html{
    background-color: #ededed;
}

.container{
    max-width: 800px;
    background-color: #fff;
    margin: auto;
}

.header{
    background-color: #565656;
    line-height: 110px;
    color: #fff;
    padding-left: 20px;
}


.header h1{
        font-size: 26px;

    }

.footer{
    background-color: #000;
    color: #fff;
    font-size: 26px;
}
.nav{
    background-color: #000;
    font-size: 26px;
    padding-left: 20px;
    height: 40px;
}
.nav a{
    color: #fff;
    text-decoration: none;
}
.nav a:hover{
    color: #999;
    
}
.nav ul>li{
    display: block;
    float: left;
    line-height: 40px;
}